<div class="flip-card">
  <div class="flip-card-inner"
       [class.flipped]="isCardFlipped">
    <div class="flip-card-front">
      <h2>{{card.title}}
        <button class="button-delete" (click)="onDelete($event)">&#10008;</button>
      </h2>
    </div>
    <div  class="flip-card-back">
      <h2>{{card.description}}
        <button class="button-delete" (click)="onDelete($event)">&#10008;</button>
      </h2>
    </div>
  </div>
  <button class="button-flip" (click)="flipSomeCards()">
    {{ isCardFlipped ? 'Спрятать' : 'Показать'}}</button>
</div>

